
.content {
    width: 66px;
    height: 24px;
    border: #dbe3eb42 1px solid;
}

.content__text {
    height: 100%;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
